<!--<div class="jumbotron">-->
<!--<h1>'Allo, 'Allo!</h1>-->
<!--<p class="lead">-->
<!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
<!--Always a pleasure scaffolding your apps.-->
<!--</p>-->
<!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<div class="stats row">
  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-4">
      <i class="fa fa-drupal"></i>
    </div>
    <div class="col-xs-6">
      <h3>Zombie 56 days</h3>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2">
    <div class="">3</div>
    days to go
  </div>
  <div class="col-xs-4 col-sm-2">
    <div class=""> 1,000,000</div>
    steps to go
  </div>
  <div class="col-xs-4 col-sm-2">
    <div>4</div>
    team position
  </div>
</div>

<div class="rules">
  <h3>Rules</h3>

  <p>Challange description orenm sipum ipsum dolor sit amet, consectetur
    adipiscing elit. Nulla vestibulum enim mattis nisi auctor convallis.</p>
  <a href="">See game rules</a>
</div>

<div class="profile">
  <div class="col-sm-6">
    Juliana Frink
    You
  </div>
  <div class="col-sm-6">
    Team A
    You + 16
  </div>
  <button>Add Activity</button>
</div>

<div class="leaderboard">
  <div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Leaderboard</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="other-games">
  <h2>Other Games</h2>
  <ul>
    <li><a href="#">DBS-Around the world in 70 days</a></li>
    <li><a href="#">DBS-Around the world in 70 days</a></li>
    <li><a href="#">DBS-Around the world in 70 days</a></li>
    <li><a href="#">DBS-Around the world in 70 days</a></li>
  </ul>
</div>
